@charset "UTF-8";

    body {
        background-color: #121146;
    }
    
    .main {
        background-color: #FFFFFF;
        width: 1000px;
        height: 1300px;
        margin: 7em auto;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        font-family: 'Black Han Sans', sans-serif;
    }
    
    .text {
        padding-top: 40px;
        color: black;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 33px;
    }
    
    .question {
    	font-size: 27px;
    	font-weight: bold;
    }
    .question-box {
	    width: 76%;
	    color: rgb(38, 50, 56);
	    font-weight: 700;
	    font-size: 14px;
	    letter-spacing: 1px;
	    background: rgba(136, 126, 126, 0.04);
	    padding: 10px 20px;
	    border: none;
	    border-radius: 20px;
	    outline: none;
	    box-sizing: border-box;
	    border: 2px solid rgba(0, 0, 0, 0.02);
	    margin-bottom: 5%;
	    margin-left: 10%;
	    margin-top: 10%;
	    text-align: center;
	    font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 40px;
    }
    
    .answer-box {
        width: 76%;
	    color: rgb(38, 50, 56);
	    font-weight: 700;
	    font-size: 14px;
	    letter-spacing: 1px;
	    background: rgba(136, 126, 126, 0.04);
	    padding: 10px 20px;
	    border: none;
	    border-radius: 20px;
	    outline: none;
	    box-sizing: border-box;
	    border: 2px solid rgba(0, 0, 0, 0.02);
	    margin-bottom: 5%;
	    margin-left: 10%;
	    text-align: center;
	    font-family: 'Ubuntu', sans-serif;
    }
    
    .answer-eachbox{
    	cursor: pointer;
        width: 40%;
	    color: rgb(38, 50, 56);
	    font-weight: 700;
	    font-size: 14px;
	    letter-spacing: 1px;
	    background: #D6E9AA;
	    padding: 10px 20px;
	    border: none;
	    border-radius: 20px;
	    outline: none;
	    box-sizing: border-box;
	    border: 2px solid rgba(0, 0, 0, 0.02);
	    margin:10px 20px 20px 10px;
	    text-align: center;
	    font-family: 'Ubuntu', sans-serif;    
    }
    
    .answer-eachbox:hover{
    	cursor: pointer;
        width: 40%;
	    color: rgb(38, 50, 56);
	    font-weight: 700;
	    font-size: 14px;
	    letter-spacing: 1px;
	    background: #E6E7A7;
	    padding: 10px 20px;
	    border: none;
	    border-radius: 20px;
	    outline: none;
	    box-sizing: border-box;
	    border: 2px solid rgba(0, 0, 0, 0.02);
	    margin:10px 20px 20px 10px;
	    text-align: center;
	    font-family: 'Ubuntu', sans-serif;    
    }
    
    
    #startBtn{
        cursor: pointer;
        border-radius: 5em;
        color: #fff;
		background: linear-gradient(to right, #267871, #136a8a);
        border: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin:auto;
        display:block;
        font-size: 22px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);	
    }
    
    #nextBtn {
      	cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #267871, #136a8a);
        border: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 38%;
        display:block;
        font-size: 22px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    
    #lastBtn {
      	cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #267871, #136a8a);
        border: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin :auto;
        display:block;
        font-size: 22px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        display: none;
    }
    
    #retryBtn {
    	cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #267871, #136a8a);
        border: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 37%;
        display:block;
        font-size: 22px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    
    .forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        padding-top: 15px;
    }
    
    #btn {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: black;
        text-decoration: none
    }
    
    .active{background-color:#267871; color:white;}
    
  


	/*RECOMMEND RESULT*/
	li {
	    list-style: none;
	}
	
	#recommend-result {
	    width: 800px;
	}
	
	h1 {
	    font-size: 25px;
	    text-align: center;
	    margin:20px;
        display:block;
	    padding: 13px;
	    color: #fff;
	    background: #7FB39D;
	    border-radius: 30px;
	}
	
	#recommend-result ul {
	    width: 100%;
	    padding: 0;
	}
	
	#recommend-result ul li {
	    line-height: 30px; /*li 세로 간격*/
	    text-align: left;
	    padding-left: 20px;
	    font-weight: bold;
	}
	
	
	#recommend-result ul li:nth-child(2n) { 
	    background: #D2E7D6;
	    border-radius: 20px;
	}
	
	#recommend-result ul li span {
	    display: block;
	    float: right;
	    width: 600px;
	    text-align: left;
	    padding-left: 20px;
	}
	
	#no-recommend {
		text-align: center;
		font-size: 33px;
	}
	
	.paging {
		text-align: center;
		margin: 15px;
	}
	
	.goPage{
		margin: 10px;
		text-align: center;
	}
	
	#map {
		width:80%;
		height:250px;
		margin:auto;
	}

	/* 폰트 어썸 */
	.fa-circle {
		color: #99D45D;
	}
	.clicked {
		color: yellow;
	}
	
	#copyBtn {
		color: white;
		background-color: #121146; 
		border-radius: 6px; 
	}
	
	
	
	
	
	
	
	
	
.tbl-t1 {overflow:hidden;margin:10px 0;border-top:1px solid #282828;border-bottom:1px solid #dadada;}
.tbl-t1 table {width:70%;width:calc(100% + 1px);table-layout:fixed;}
.tbl-t1 table th, .tbl-t1 table td {height:42px;padding:8px 14px;border-top:1px solid #dadada;border-right:1px solid #dadada;font-size:14px;line-height:30px;color:#767676;vertical-align:middle;text-align:left;}
.tbl-t1 table th {padding:5px 25px;background:#f5f5f5;color:#282828;}
.tbl-t1 table thead th {padding:4px 9px;text-align:center;}
.tbl-t1 table thead ~ tbody > tr:first-child th,
.tbl-t1 table thead ~ tbody > tr:first-child td {border-top:1px solid #282828;}
.tbl-t1 table thead ~ tbody td,
.tbl-t1 table tbody th[scope="rowgroup"] {text-align:center;}
.tbl-t1 table tfoot th, .tbl-t1 table tfoot td {padding:4px 9px;background:#f5f5f5;color:#282828;text-align:center;}
.tbl-t1 table tfoot .total th, .tbl-t1 table tfoot .total td {background:#c5c5c5;color:#282828;}
.tbl-t1 > table > thead > tr:first-child th {border-top:0;}
.tbl-t1 > table > colgroup + tbody > tr:first-child th,
.tbl-t1 > table > colgroup + tbody > tr:first-child td {border-top:0;}
.tbl-t1 td.nodata {padding: 70px 0;text-align: center; font-size: 18px;}
.tbl-t1 td.nodata::before {content: '';display: block;margin: 0 auto 10px;width: 195px;height: 150px;background: url(../images/icon_not_found.svg) no-repeat center;background-size: contain;}

.tbl-t1 td.tit {text-align:left;}
.tbl-t1 td.tit a {display:inline-block;max-width:100%;line-height:26px;overflow:hidden;margin:1px 0 0;text-overflow:ellipsis;white-space:nowrap;border-bottom:1px solid #959595;vertical-align:top;}
.tbl-t1 td.tit a:hover, .tbl-t1 td.tit a:focus {color:#274B48;border-color:#274B48;}
.tbl-t1 td .side {float:right;}
.tbl-t1 table + table {border-top:1px solid #282828;margin:10px 0 0;}
.tbl-t1 td .img {position:relative;width:120px;height:75px;margin:auto;vertical-align:middle;}
.tbl-t1 td .img:before {content:'';display:block;position:absolute;left:0;right:0;top:0;bottom:0;background:#f5f5f5;border:1px solid #ddd;box-sizing:border-box;}
.tbl-t1 td .img img {position:relative;width:100%;height:100%;}
.tbl-t1 td textarea {width:100%; height:100%; resize:none;}
.tbl-t1 tbody tr td.tit .tooltip{cursor:pointer;}
.tbl-t1 td .paper {color:#fff; position:relative; padding:2px 5px; background-color:red; border-radius:10px; width:40px; font-size:10px; font-weight:600; text-align:center; left:0; top:0;}
.tbl-t1 th .icon-required {margin-left:-15px;}
.tbl-t1.ty-2 {border-top:1px solid #dadada;}
.tbl-t1 td input[type='text'], .tbl-t1 td input[type='password'] { position: relative; width: 100%; height: 32px; padding: 0 9px; border: 1px solid #c5c5c5; box-sizing: border-box; font-size: 14px; font-weight: bold; color: #444; line-height: 30px; }

	
	
	
	
    
    
